:root {
    --pri-color: #fcdb00;
    --sec-color: #313841;
    --tir-color: #555;
    --dark-color: #010101;
    --light-dark-color: #898989;
    --white-color: #ffffff;
}

ul {
    list-style: none;
    padding: 0;
}

a:link,
a:visited {
    text-decoration: none;
}

section {
    padding: 160px 0;
}

/* 1 rem === 10px  */
.mb-40 {
    margin-bottom: 64px;
}
.mb-60 {
    margin-bottom: 96px;
}

.mb-80 {
    margin-bottom: 128px;
}

.mb-90 {
    margin-bottom: 144px;
}
.mb-130 {
    margin-bottom: 208px;
}

.pri-heading {
    font-weight: bold;
    font-size: 55px;
    color: var(--dark-color);
}

.sec-heading {
    font-size: 32px;
    color: var(--sec-color);
}

.para {
    font-size: 22px;
    color: var(--tir-color);
    margin-bottom: 64px;
}

