.heroImg {
    background-color: var(--pri-color);
}

.heroImg .navbar-default {
    background-color: transparent;
    border: 0px;
}

.heroImg .navbar-nav>li>a {
    color: var(--dark-color);
    font-weight: bold;
    font-size: 32px;
    text-transform: capitalize;
}

.heroImg .navbar-brand {
    padding: 8px, 24px;
}
.heroImg .ipad{
    margin-left: 6%;
}

.inspiration {
    padding-top: 112px;
}

.brandLinks li {
    display: inline-block;
    margin-right: 64px;

}

.brandLinks li a {
    color: var(--dark-color);
}

/* feature section css  */

.thumbInfo h4 {
    margin: 0 0 24px;
    font-size: 22px;
    color: var(--dark-color);

}

.thumbInfo p {
    font-size: 16px;
    color: var(--light-dark-color);
}

/* contact/footer section css  */

.contact {
    background-color: var(--dark-color);
}

.contact .pri-heading {
    color: var(--pri-color);
}

.contact .sec-heading {
    color: var(--light-dark-color);
}

.contact .form-inline .btn {
    background-color: var(--pri-color) !important;
    border: 1px solid var(--pri-color);
    font-weight: bold;
}

.contact .form-inline .form-group {
    width: calc(100% - 100px);
}

.contact .form-inline .form-group input {
    width: 100%;
}

.contact .brandLinks li a {
    color: var(--pri-color);
}

.footerLink li,
.footerLink li a {
    color: var(--white-color);
    font-size: 16px;
}


.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: var(--pri-color);
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #010101;
}

.navbar-default .navbar-toggle {
    border-color: #010101;
}

@media all and (max-width:768px) {
    section {
        padding: 48px 0;
    }

    .mb-30-sm {
        margin-bottom: 48px !important;
    }

    .inspiration {
        padding-top: 0;
    }

    .text-center-sm {
        text-align: center;
    }

    .ipad {
        display: inline-block;
    }

    .contact .form-inline .form-group {
        width: 100%;
    }
}